# vim:set filetype=sh :

# PUBLIC_ENVIRONMENT is used to control features based on environment. 
# For example when `"development"`, every oRPC procedure will be in separate request to be easier to debug,
# but if it is not set, the procedures will be batch for better performance
PUBLIC_ENVIRONMENT=development

# BETTER_AUTH_SECRET is used by Better Auth for signing JWTs and securing sessions.
# It should be a long, random string.
BETTER_AUTH_SECRET=xxx
 
# DATABASE_URL specifies the connection string for the PostgreSQL database.
# Format: postgresql://[user[:password]@][netloc][:port][/dbname][?param1=value1&...]
DATABASE_URL=xxx
